# The World Factbook
The World Factbook provides basic intelligence on the history, people, government, economy, energy, geography, environment, communications, transportation, military, terrorism, and transnational issues for 266 world entities. In this project, i would like to extract the following information listed below from the Factbook database.

#1. The first five countries listed within the 'facts' table.
#2. The Minimum & Maximum population within the 'facts' table.
#3. The Minimum & Maximum population growth within the 'facts' table.
#4. The countries with the highest and Lowest population.
#5. The average population and area of the 'fact' table.
#6. The countries below the average population index. and so on

A whole lot of querries can be established to findout more about the table, but for this project, i would stick to the querreis listed above.

To get started, the First step would be to establish a connection between SQL and Jupyter Notebook.

!conda install -yc conda-forge ipython-sql

# Linking of Database to Jupyter Notebook.

The Second step would be to link Factbook database as Factbook.db to the Jupyter Notebook interface.

In [6]:
%%capture
%load_ext sql
%sql sqlite:///factbook.db

# Getting to Know more about the database 'Factbook.db'.

#1. How many tables has been stored within the Factbook.db
#2. What are their names.

In [15]:
%%sql
SELECT *
FROM sqlite_master
WHERE type = 'table';

 * sqlite:///factbook.db
Done.

[('table', 'sqlite_sequence', 'sqlite_sequence', 3, 'CREATE TABLE sqlite_sequence(name,seq)'),
 ('table', 'facts', 'facts', 47, 'CREATE TABLE "facts" ("id" INTEGER PRIMARY KEY AUTOINCREMENT NOT NULL, "code" varchar(255) NOT NULL, "name" varchar(255) NOT NULL, "area" integer, "a ... (4 characters truncated) ... land" integer, "area_water" integer, "population" integer, "population_growth" float, "birth_rate" float, "death_rate" float, "migration_rate" float)')]

# The 'facts' Table.

So from the output derived earlier, the 'facts' table happens to be the only table stored within the Factbook.db. This table contains several coulmns and rows. To understand what it looks like, the first 5 rows will be retreived.

In [28]:
%%sql #it is very important to always start your querry with '%%sql' code as the first line of code.
SELECT *
    FROM facts
    LIMIT 5;

 * sqlite:///factbook.db
Done.

[(1, 'af', 'Afghanistan', 652230, 652230, 0, 32564342, 2.32, 38.57, 13.89, 1.51),
 (2, 'al', 'Albania', 28748, 27398, 1350, 3029278, 0.3, 12.92, 6.58, 3.3),
 (3, 'ag', 'Algeria', 2381741, 2381741, 0, 39542166, 1.84, 23.67, 4.31, 0.92),
 (4, 'an', 'Andorra', 468, 468, 0, 85580, 0.12, 8.13, 6.96, 0.0),
 (5, 'ao', 'Angola', 1246700, 1246700, 0, 19625353, 2.78, 38.78, 11.49, 0.46)]

# The Minimum & Maximum population, as well as the Minimum and Maximum population growth within the 'facts' table.

In [31]:
%%sql
SELECT MIN(population) 'Lowest population', MAX(population)'Highest population', 
       MIN(population_growth), MAX(population_growth)
From facts;

 * sqlite:///factbook.db
Done.

[(0, 7256490011, 0.0, 4.02)]

# The countries with the Highest and Lowest population.

In [32]:
%%sql
SELECT name
From facts
where population= (SELECT MIN(population)
             From facts);

 * sqlite:///factbook.db
Done.

[('Antarctica',)]

In [11]:
%%sql
SELECT name
From facts
where population= (SELECT MAX(population)
             From facts);

 * sqlite:///factbook.db
Done.

[('World',)]

The querry for the name of the country with the Highest population unfortunately produced the name 'world', which doesn't look right. This is so because a value was entered for the name world in the 'facts' table. Nevertheless, this can be corrected with the codes below.

In [13]:
%%sql
SELECT MIN(population), Max(population), MIN(population_growth),Max(population_growth)
    FROM facts
    Where name!= 'World';

 * sqlite:///factbook.db
Done.

[(0, 1367485388, 0.0, 4.02)]

#  The average population and area of the 'facts' table.

In [18]:
%%sql
SELECT AVG(population), AVG(area)
From facts;

 * sqlite:///factbook.db
Done.

[(62094928.32231405, 555093.546184739)]

# The countries below the average population index.

In [33]:
%%sql
SELECT id,code,name
From facts
Where population > (SELECT AVG(population) and area < (AVG(area))
                   from facts);

 * sqlite:///factbook.db
Done.

[(1, 'af', 'Afghanistan'),
 (2, 'al', 'Albania'),
 (3, 'ag', 'Algeria'),
 (4, 'an', 'Andorra'),
 (5, 'ao', 'Angola'),
 (6, 'ac', 'Antigua and Barbuda'),
 (7, 'ar', 'Argentina'),
 (8, 'am', 'Armenia'),
 (9, 'as', 'Australia'),
 (10, 'au', 'Austria'),
 (11, 'aj', 'Azerbaijan'),
 (12, 'bf', 'Bahamas, The'),
 (13, 'ba', 'Bahrain'),
 (14, 'bg', 'Bangladesh'),
 (15, 'bb', 'Barbados'),
 (16, 'bo', 'Belarus'),
 (17, 'be', 'Belgium'),
 (18, 'bh', 'Belize'),
 (19, 'bn', 'Benin'),
 (20, 'bt', 'Bhutan'),
 (21, 'bl', 'Bolivia'),
 (22, 'bk', 'Bosnia and Herzegovina'),
 (23, 'bc', 'Botswana'),
 (24, 'br', 'Brazil'),
 (25, 'bx', 'Brunei'),
 (26, 'bu', 'Bulgaria'),
 (27, 'uv', 'Burkina Faso'),
 (28, 'bm', 'Burma'),
 (29, 'by', 'Burundi'),
 (30, 'cb', 'Cambodia'),
 (31, 'cm', 'Cameroon'),
 (32, 'ca', 'Canada'),
 (33, 'cv', 'Cabo Verde'),
 (34, 'ct', 'Central African Republic'),
 (35, 'cd', 'Chad'),
 (36, 'ci', 'Chile'),
 (37, 'ch', 'China'),
 (38, 'co', 'Colombia'),
 (39, 'cn', 'Comoros'),
 (40, 'cg', 'Congo, Democratic Republic of the'),
 (41, 'cf', 'Congo, Republic of the'),
 (42, 'cs', 'Costa Rica'),
 (43, 'iv', "Cote d'Ivoire"),
 (44, 'hr', 'Croatia'),
 (45, 'cu', 'Cuba'),
 (46, 'cy', 'Cyprus'),
 (47, 'ez', 'Czech Republic'),
 (48, 'da', 'Denmark'),
 (49, 'dj', 'Djibouti'),
 (50, 'do', 'Dominica'),
 (51, 'dr', 'Dominican Republic'),
 (52, 'ec', 'Ecuador'),
 (53, 'eg', 'Egypt'),
 (54, 'es', 'El Salvador'),
 (55, 'ek', 'Equatorial Guinea'),
 (56, 'er', 'Eritrea'),
 (57, 'en', 'Estonia'),
 (58, 'et', 'Ethiopia'),
 (59, 'fj', 'Fiji'),
 (60, 'fi', 'Finland'),
 (61, 'fr', 'France'),
 (62, 'gb', 'Gabon'),
 (63, 'ga', 'Gambia, The'),
 (64, 'gg', 'Georgia'),
 (65, 'gm', 'Germany'),
 (66, 'gh', 'Ghana'),
 (67, 'gr', 'Greece'),
 (68, 'gj', 'Grenada'),
 (69, 'gt', 'Guatemala'),
 (70, 'gv', 'Guinea'),
 (71, 'pu', 'Guinea-Bissau'),
 (72, 'gy', 'Guyana'),
 (73, 'ha', 'Haiti'),
 (74, 'ho', 'Honduras'),
 (75, 'hu', 'Hungary'),
 (76, 'ic', 'Iceland'),
 (77, 'in', 'India'),
 (78, 'id', 'Indonesia'),
 (79, 'ir', 'Iran'),
 (80, 'iz', 'Iraq'),
 (81, 'ei', 'Ireland'),
 (82, 'is', 'Israel'),
 (83, 'it', 'Italy'),
 (84, 'jm', 'Jamaica'),
 (85, 'ja', 'Japan'),
 (86, 'jo', 'Jordan'),
 (87, 'kz', 'Kazakhstan'),
 (88, 'ke', 'Kenya'),
 (89, 'kr', 'Kiribati'),
 (90, 'kn', 'Korea, North'),
 (91, 'ks', 'Korea, South'),
 (92, 'kv', 'Kosovo'),
 (93, 'ku', 'Kuwait'),
 (94, 'kg', 'Kyrgyzstan'),
 (95, 'la', 'Laos'),
 (96, 'lg', 'Latvia'),
 (97, 'le', 'Lebanon'),
 (98, 'lt', 'Lesotho'),
 (99, 'li', 'Liberia'),
 (100, 'ly', 'Libya'),
 (101, 'ls', 'Liechtenstein'),
 (102, 'lh', 'Lithuania'),
 (103, 'lu', 'Luxembourg'),
 (104, 'mk', 'Macedonia'),
 (105, 'ma', 'Madagascar'),
 (106, 'mi', 'Malawi'),
 (107, 'my', 'Malaysia'),
 (108, 'mv', 'Maldives'),
 (109, 'ml', 'Mali'),
 (110, 'mt', 'Malta'),
 (111, 'rm', 'Marshall Islands'),
 (112, 'mr', 'Mauritania'),
 (113, 'mp', 'Mauritius'),
 (114, 'mx', 'Mexico'),
 (115, 'fm', 'Micronesia, Federated States of'),
 (116, 'md', 'Moldova'),
 (117, 'mn', 'Monaco'),
 (118, 'mg', 'Mongolia'),
 (119, 'mj', 'Montenegro'),
 (120, 'mo', 'Morocco'),
 (121, 'mz', 'Mozambique'),
 (122, 'wa', 'Namibia'),
 (123, 'nr', 'Nauru'),
 (124, 'np', 'Nepal'),
 (125, 'nl', 'Netherlands'),
 (126, 'nz', 'New Zealand'),
 (127, 'nu', 'Nicaragua'),
 (128, 'ng', 'Niger'),
 (129, 'ni', 'Nigeria'),
 (130, 'no', 'Norway'),
 (131, 'mu', 'Oman'),
 (132, 'pk', 'Pakistan'),
 (133, 'ps', 'Palau'),
 (134, 'pm', 'Panama'),
 (135, 'pp', 'Papua New Guinea'),
 (136, 'pa', 'Paraguay'),
 (137, 'pe', 'Peru'),
 (138, 'rp', 'Philippines'),
 (139, 'pl', 'Poland'),
 (140, 'po', 'Portugal'),
 (141, 'qa', 'Qatar'),
 (142, 'ro', 'Romania'),
 (143, 'rs', 'Russia'),
 (144, 'rw', 'Rwanda'),
 (145, 'sc', 'Saint Kitts and Nevis'),
 (146, 'st', 'Saint Lucia'),
 (147, 'vc', 'Saint Vincent and the Grenadines'),
 (148, 'ws', 'Samoa'),
 (149, 'sm', 'San Marino'),
 (150, 'tp', 'Sao Tome and Principe'),
 (151, 'sa', 'Saudi Arabia'),
 (152, 'sg', 'Senegal'),
 (153, 'ri', 'Serbia'),
 (154, 'se', 'Seychelles'),
 (155, 'sl', 'Sierra Leone'),
 (156, 'sn', 'Singapore'),
 (157, 'lo', 'Slovakia'),
 (158, 'si', 'Slovenia'),
 (159, 'bp', 'Solomon Islands'),
 (160, 'so', 'Somalia'),
 (161, 'sf', 'South Africa'),
 (162, 'od', 'South Sudan'),
 (163, 'sp', 'Spain'),
 (164, 'ce', 'Sri Lanka'),
 (165, 'su', 'Sudan'),
 (166, 'ns', 'Suriname'),
 (167, 'wz', 'Swaziland'),
 (168, 'sw', 'Sweden'),
 (169, 'sz', 'Switzerland'),
 (170, 'sy', 'Syria'),
 (171, 'ti', 'Tajikistan'),
 (172, 'tz', 'Tanzania'),
 (173, 'th', 'Thailand'),
 (174, 'tt', 'Timor-Leste'),
 (175, 'to', 'Togo'),
 (176, 'tn', 'Tonga'),
 (177, 'td', 'Trinidad and Tobago'),
 (178, 'ts', 'Tunisia'),
 (179, 'tu', 'Turkey'),
 (180, 'tx', 'Turkmenistan'),
 (181, 'tv', 'Tuvalu'),
 (182, 'ug', 'Uganda'),
 (183, 'up', 'Ukraine'),
 (184, 'ae', 'United Arab Emirates'),
 (185, 'uk', 'United Kingdom'),
 (186, 'us', 'United States'),
 (187, 'uy', 'Uruguay'),
 (188, 'uz', 'Uzbekistan'),
 (189, 'nh', 'Vanuatu'),
 (190, 'vt', 'Holy See (Vatican City)'),
 (191, 've', 'Venezuela'),
 (192, 'vm', 'Vietnam'),
 (193, 'ym', 'Yemen'),
 (194, 'za', 'Zambia'),
 (195, 'zi', 'Zimbabwe'),
 (196, 'tw', 'Taiwan'),
 (197, 'ee', 'European Union'),
 (199, 'kt', 'Christmas Island'),
 (200, 'ck', 'Cocos (Keeling) Islands'),
 (203, 'nf', 'Norfolk Island'),
 (204, 'hk', 'Hong Kong'),
 (205, 'mc', 'Macau'),
 (206, 'fo', 'Faroe Islands'),
 (207, 'gl', 'Greenland'),
 (209, 'fp', 'French Polynesia'),
 (211, 'nc', 'New Caledonia'),
 (212, 'tb', 'Saint Barthelemy'),
 (213, 'rn', 'Saint Martin'),
 (214, 'sb', 'Saint Pierre and Miquelon'),
 (215, 'wf', 'Wallis and Futuna'),
 (216, 'aa', 'Aruba'),
 (217, 'cc', 'Curacao'),
 (218, 'sk', 'Sint Maarten'),
 (219, 'cw', 'Cook Islands'),
 (220, 'ne', 'Niue'),
 (221, 'tl', 'Tokelau'),
 (224, 'sv', 'Svalbard'),
 (225, 'ax', 'Akrotiri'),
 (226, 'av', 'Anguilla'),
 (227, 'bd', 'Bermuda'),
 (229, 'vi', 'British Virgin Islands'),
 (230, 'cj', 'Cayman Islands'),
 (231, 'dx', 'Dhekelia'),
 (232, 'fk', 'Falkland Islands (Islas Malvinas)'),
 (233, 'gi', 'Gibraltar'),
 (234, 'gk', 'Guernsey'),
 (235, 'je', 'Jersey'),
 (236, 'im', 'Isle of Man'),
 (237, 'mh', 'Montserrat'),
 (238, 'pc', 'Pitcairn Islands'),
 (239, 'sh', 'Saint Helena, Ascension, and Tristan da Cunha'),
 (241, 'tk', 'Turks and Caicos Islands'),
 (242, 'aq', 'American Samoa'),
 (243, 'gq', 'Guam'),
 (245, 'cq', 'Northern Mariana Islands'),
 (246, 'rq', 'Puerto Rico'),
 (247, 'vq', 'Virgin Islands'),
 (251, 'gz', 'Gaza Strip'),
 (254, 'we', 'West Bank'),
 (255, 'wi', 'Western Sahara'),
 (261, 'xx', 'World')]